@model webCayCanh.huongDT.Data.DanhGiaDh

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DanhGiaDh</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaDg" class="control-label"></label>
                <input asp-for="MaDg" class="form-control" />
                <span asp-validation-for="MaDg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaDh" class="control-label"></label>
                <select asp-for="MaDh" class ="form-control" asp-items="ViewBag.MaDh"></select>
            </div>
            <div class="form-group">
                <label asp-for="NoiDungDg" class="control-label"></label>
                <input asp-for="NoiDungDg" class="form-control" />
                <span asp-validation-for="NoiDungDg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThangDiem" class="control-label"></label>
                <input asp-for="ThangDiem" class="form-control" />
                <span asp-validation-for="ThangDiem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayDg" class="control-label"></label>
                <input asp-for="NgayDg" class="form-control" />
                <span asp-validation-for="NgayDg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

